.loading {
    width: 100%;
    position: fixed;
    z-index: 99;
    height: 100%;
    background: white;
    opacity: 0.6;
    top: 0;

    .spinner {
        height: 3.4rem;
        width: 3.4rem;
        animation: rotate 0.8s infinite linear;
        border: 0.3rem solid #1a22b6;
        border-right-color: transparent;
        border-radius: 50%;
        position: fixed;
        top: calc(50% - 2rem);
    }
}
